* {
  font-family: monospace, "Lucida Console", "Courier New";
  text-align: center;
}
body {
  background-color: rgb(211, 207, 255);
  margin: 0;
}
.formClass {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-bottom: 20px;
}

/* .App {
  background-color: rgb(211, 207, 255);
  margin: 0;
} */
.container {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  column-gap: 10px;
}
.card {
  background-color: antiquewhite;
  border-radius: 10px;
  padding: 20px;
}

.image {
  width: 100%;
  /* object-fit: cover;
  height: 300px; */
}
